body{
    background-color: rgb(247, 231, 244);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
a:hover{
    background-color: green;
}
a:active{
    background-color: pink;
}
.head{
    width: 100%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.select-container{
    display: flex;
    box-sizing: border-box;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.navbar a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(41, 9, 41);
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    z-index: 1px;
    position: sticky;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
    color: red;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.daily{
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0;
}
.navbar-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-input{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
.welcome{
    width: 100%;
    background-image: url("../two-enthusiastic-ladies-sharing-secrets-covering-faces-hands-drink-cocktails-cafe-outdoor-portrait-two-171668518.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-content{
    text-align: center;
    background-color: rgb(10, 5, 5, 0.4);
    width: 400px;
    position: relative;
    top: 40px;
    left: 550px;
    padding: 5px;
    border-radius: 7px;
}
.welcome-content h3{
    font-weight: 600;
    font-size: 35px; 
}
.welcome-content h2{
    background-color: rgb(247, 231, 244, 0.5);
    width: 300px;
    padding: 10px;
    margin: 0 40px;
    top: 20px;
    left: 700px;
    font-size: 30px;
    color: rgb(129, 14, 77);
    text-transform: capitalize;
}
.welcome-content p :hover{
    transform: scale(0.5);
    background-color: white;
}
.images-cont{
    width: 75%;
    padding: 10px;
}

img{
    width: 270px;
    height: 300px;
    margin: 20px 30px;
    margin-bottom: 0;
    object-fit: fill;
    border-radius: 10px;
}

.containera{
    width: 270px;
    float: left;
    display: block;
    clear: left;
    text-align: center;
    margin: 20px;
}
.containerb{
    width: 270px;
    float: left;
    display: block;
    text-align: center;
    margin: 20px;
}
.containerc{
    width: 270px;
    float: left;
    display: block;
    text-align: center;
    margin: 20px;

}
.line{
    margin: 30px 0;
}
.line H2{
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
    background-color: rgb(41, 9, 41, 0.7);
    width: 200px;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 2px;
    color: rgb(247, 231, 244);
    border-radius: 15px;

}
.line a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    width: 200px;
}
.display-cont{
    padding: 20px;
    display: flex;
}
.text{
    width: 25%;
    margin: 20px;
    margin-left: 0px;
    margin-top: 50px;
}
.text h2{
font-size: 20px;
font-weight: 200px;
text-transform: capitalize;
color: red;
}
.text-cont1 a{
text-decoration: none;
color: black;
margin: 10px 5px;
display: block;
}
.text-cont2 a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 10px 5px;
    display: inline-block;
    padding: 5px;
    }    
.recent img{
width: 140px;
height: 120px;
border-radius: 0;
margin-left: 0;
}
.recent{
    display: flex;
    margin: 20px 0;
}
.recent a {
    text-decoration: none;
    color: black;
    margin-top: 40px;
}
.div3p{
background-color: white;
padding: 10px;
width: 100%;
}
.sub{
    margin: 30px 0;
    text-align: center;
}
.sub h2{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.sub p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.sub input{
   width: 300px; 
   padding: 10px;
   margin: 15px;
}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer-side1{
    margin: 40px;
}
.footer-side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.footer-side1 p{
    text-transform: capitalize;

}
.footer-side2 p{
    margin: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-side2 h3{
    font-size: 600;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-side2{
    margin: 40px;
}

.last{
    width: 100%;
    border: 1px solid white;
    background-color: black;
}
.footer-icon{
    display: flex;
    margin: 5px 0px;

}
.footer-icon svg{
    width: 17px;
    height: 17px;
    margin: 7px 0px;

}
@media(max-width:768px){
    .navbar a{
        font-size: 7px;
    } 
    .navs{
     padding: 6px;
    }
    select{
        width: 50px;
        font-size: 7px;
       }   
       .header-navbar a{
        text-decoration: none;
        color: white;
        margin: 0 20px;
        font-size: 10px;
    }                                 

        .welcome-content{
           width: 300px;
           position: relative;
           top: 20px;
           left: 200px;
       }
       .welcome-content h3{
           font-weight: 400;
           font-size: 25px; 
           color: white;
           margin: 10px;
       }
       .welcome-content h2{
           background-color: rgb(233, 169, 147, 0.5);
           width: 180px;
           top: 5px;
           font-weight: 500px;
           font-size: 20px;
           color: rgb(129, 14, 77);
           text-transform: capitalize;
        }                
        .welcome-content p{
            font-size: 12px;
            margin: 10;
            color: white;
        }    
        .welcome{
            box-sizing: border-box;
            width: 100%;
            background-image: url("../two-enthusiastic-ladies-sharing-secrets-covering-faces-hands-drink-cocktails-cafe-outdoor-portrait-two-171668518.jpg");
            height: 180px;
            background-size: cover;
            justify-content: center;
        }                
        .daily h2{
            font-weight: 500px;
           }
           .daily p{
            width: 120px;
           }
           .daily{
            margin: 15px 10px;
           }
           .icon{
            width: 40px;
            height: 40px;
            margin: 10px 0 0px 0;
        }
        .header-input{
            width: 200px;
            margin-top: 20px;
            padding: 7px;
        }

        img{
            width: 100%;
            height: 200px;
            margin: 10px 30px;
        }
        
        .containera{
            width: 38%;
            display: block;
            text-align: center;
            margin: 20px;
        }
        .containerb{
            width: 38%;
            display: block;
            text-align: center;
            margin: 20px;
        }
        .containerc{
            width: 38%;
            display: block;
            text-align: center;
            margin: 20px;
        
        }
        .line{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 30px 0;
        }
        .line H2{
            font-size: 15px;
            font-weight: 300;
            background-color: rgb(41, 9, 41, 0.7);
            width: 150px;
            align-items: center;
            margin-left: 40px;
            color: rgb(247, 231, 244);
            border-radius: 15px;
        
        }
        .line a{
            text-decoration: none;
            color: black;
            font-size: 12px;
            width: 170px;
            text-align: center;
            margin-left: 40px;
            margin-top: 0px;
        }
        .display-cont{
            padding: 20px;
            display: flex;
        }
        .text{
            width: 25%;
            margin: 20px;
            margin-left: 50px;
            margin-top: 50px;
        }
        .text h2{
        font-size: 17px;
        font-weight: 170px;
        text-transform: capitalize;
        color: red;
        }
        .text-cont1 a{
        text-decoration: none;
        color: black;
        margin: 10px 5px;
        font-size: 12px;
        display: block;
        }
        .text-cont2 a{
            text-decoration: none;
            color: black;
            border: 1px solid black;
            margin: 10px 5px;
            font-size: 12px;
            display: inline-block;
            }    
        .recent img{
        width: 120px;
        height: 100px;
        border-radius: 0;
        margin-left: 0;
        margin-right: 10px;
        }
        .recent{
            display: flex;
        }
        .recent a {
            text-decoration: none;
            color: black;
            margin-top: 20px;
            font-size: 10px;
            width: 80px;
        }
        .div3p{
        background-color: white;
        padding: 10px;
        width: 100%;
        }
        .sub{
            margin: 30px 0;
            text-align: center;
        }
        .sub h2{
            font-weight: 400;
        
        }


        .footer{
            display: flex;
            justify-content: center;
        }
        .footer-side1{
            margin: 30px;
        }
        .footer-side1 h3{
            font-weight: 400;
        }
        .footer-side2 h3{
            font-weight: 400;
        }
        .footer-side2{
            margin: 30px;
        }
        .last{
            width: 100%;
            border: 1px solid white;
            background-color: black;
        }
    }   

    @media(max-width:400px){
        .header-input{
            width: 130px;
            margin-top: 15px;
            padding: 5px;
        }
        .icon{
            width: 30px;
            height: 30px;
            margin: 10px 0 0px 0;
        }            
        .navbar-input{
            display: flex;
            width: 100%;
            box-sizing: border-box;
        }     
        .header-navbar a{
            text-decoration: none;
            color: white;
            margin: 0 20px;
            font-size: 10px;
        }                                 
        .daily{
            margin: 10px;
            display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }                    
    .cart{
        margin: 5px;
    }  
    .cart p{
        font-size: 10px;
        color: grey;
    }                     
    .navs{
        padding: 4px;
       }
       select{
        justify-content: center;
        width: 40px;
        font-size: 5px;
    }   
    .daily h2{
        font-weight: 300px;
    }
    .daily p{
     width: 90px;
     font-size: 7px;
    }   
     .welcome-content{
     width: 230px;
     top: 35px;
     left: 80px;
     border-radius: 7px;
     box-sizing: border-box;
     justify-content: center;
 }
 .welcome-content h3{
     font-weight: 400;
     font-size: 17px; 
     margin: 5px;
 }
 .welcome-content h2{
     background-color: rgb(233, 169, 147, 0.4);
     top: 20px;
     left: 10px;
     font-size: 17px;
     margin: 0px;
 }
 .welcome-content p{
    font-size: 12px;
    margin: 0;
    color: white;
}
.welcome{
    height: 160px;
    background-size: cover;
    justify-content: center;
}                
   .daily{
    margin: 10px;
   }

   img{
    width: 140px;
    height: 140px;
    margin: 10px ;
    margin-bottom: 0;
    object-fit: fill;
    border-radius: 10px;
}
.images-cont{
    width: 100%;
    padding: 10px;
}


.containera{
    width: 38%;
    display: block;
    text-align: center;
    margin: 20px;
}
.containerb{
    width: 38%;
    display: block;
    text-align: center;
    margin: 20px;
}
.containerc{
    width: 30%;
    display: block;
    text-align: center;
    margin: 20px;

}
.line{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    text-align: center;
}
.line H2{
    font-size: 15px;
    font-weight: 200;
    margin: 10px;
    background-color: rgb(41, 9, 41, 0.7);
    width: 140px;
    align-items: center;
    margin-bottom: 2px;
    color: rgb(247, 231, 244);
    border-radius: 10px;

}
.line a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    width: 140px;
}
.display-cont{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text{
    width: 100%;
    margin: 20px;
    margin-left: 0px;
    margin-top: 20px;
}
.text h2{
font-size: 20px;
font-weight: 200px;
text-transform: capitalize;
color: red;
}
.text-cont1 a{
text-decoration: none;
color: black;
margin: 10px 5px;
display: block;
}
.text-cont2 a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin: 10px 5px;
    display: inline-block;
    padding: 5px;
    }    
    .flex{
        display: flex;
        justify-content: space-between;
    }
    .text-cont2{
        width: 45%;
    }
.recent img{
width: 140px;
height: 120px;
border-radius: 0;
margin-left: 0;
}
.recent{
    display: flex;
    margin: 20px 0;
}
.recent a {
    text-decoration: none;
    color: black;
    margin-top: 40px;
}
.div3p{
background-color: white;
padding: 10px;
width: 100%;
}
.sub{
    margin: 30px 0;
    text-align: center;
}
.sub h2{
    font-weight: 300;
    font-size: 17px;
}


   .footer{
    display: flex;
    justify-content: center;
}
.footer-side1{
    margin: 20px;
}
.footer-side1 h3{
    font-weight: 200;
}
.footer-side2 h3{
    font-weight: 200;
}
                            
.footer-side2{
    margin: 20px;
}
.last{
    width: 100%;
    border: 1px solid white;
    background-color: black;
}


}

