body{
    margin: 0;
    background-color: rgb(250, 200, 200);
}
.div1{
    width: 90%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.head{
    background-color: rgb(243, 151, 151);
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
}
.div2{
    display: flex;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.navbar a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(224, 96, 117);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
color: red;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.daily{
    margin: 30px 20px;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0;
}
.navbar-input{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: 5px auto;

}
.header-input{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
.blog{
    background-image: url("../images/close-up-photo-two-beautiful-funky-sisters-her-best-ladies-party-chill-mood-hugging-v-sign-symbol-say-hi-hello-piggyback-151598422.jpg");
    width:100%;
    height: 200px;
    text-align: center;
    margin-top: 210;
    position: relative;
    background-position: cover;
    }
    .blog2{
        margin: 40px 0 40px 0;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 660px;
    }
    .blog2 p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    .blog2 h2{
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: white;
    }
    .blog2 a{
        text-decoration: none;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
    }
    .first-container{
        width: 100%;
        background-color: rgb(250, 200, 200);
        padding: 10px 30px;
        box-sizing: border-box;
    }
    .second-container{
        background-color: white;
        width: 100%;
        margin: 10px 40px;
        box-sizing: border-box;
        
    }
    .first-inner-container{
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: white;
    }
    .inner1a{
        position: relative;
        top: 30px;
        }
  .first-inner-container h2{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .first-inner-container p{
        font-family: Arial, Helvetica, sans-serif;
            margin-top: 0px;
        }
    .second-inner-container{
        width: 100%;
        height: 400px;
        background-color: rgb(250, 200, 200);
        text-align: center;
    }
    .third-inner-container{
        width: 100%;
        background-color: white;
        padding: 20px;
                display: flex;
        justify-content: space-between;

    }
    .inputd{
        background-color: white;
        width: 400px;
        display: inline-block;
    }
    input{
        margin: 10px;
        padding: 7px;
        width: 300px;
    }
    .inputd1{
        display: inline;
        float: left;

    }
    .inputd2{
        display: inline;
    }
    textarea{
        margin:20px 10px;
    }

    .royal h3{
        clear: both;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500px;
        text-transform: capitalize;
    }
    .royal{
        width: 30%;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 40px;
    }
    .inner3a{
        margin: 30px;
        width: 65%;
    }
    .btn{
        width: 80px;
        padding: 7px;
        border: 1px solid red;
        background-color: rgb(250, 200, 200);
        border-radius: 20px;
    }
    button{
        text-transform: capitalize;
        color: red;
        margin-left: 10px;
    }
    .div3p{
        width: 100%;
        background-color: white;

    }
    .sub{
        margin: 30px 0;
        text-align: center;
    }
    .sub h2{
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sub p{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .footer{
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px;
        box-sizing: border-box;            
    }
    .footer-sides{
        margin: 30px;
        width: 21%;
        }
    .footer-sides h3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
    }
    .footer-sides p{
        text-transform: capitalize;

    }
    .footer-sides2 p{
        font-size: 10px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;

    }
    .footer-sides2 h3{
        font-size: 600;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer-sides2{
        margin: 40px;
        width: 21%;
        }
    .last{
        width: 100%;
        border: 1px solid white;
        background-color: black;
    }

    @media(max-width=768px){
        .div3 a{
         font-size: 7px;
        } 
        .navs{
         padding: 6px;
        }
        select{
         width: 50px;
         font-size: 7px;
        }
        .blog{
         height: 200px;
         width: 100%;
         position: relative;
        }
        .daily h2{
            font-weight: 500px;
           }
           .daily p{
            width: 120px;
           }
           .daily{
            margin: 15px 10px;
           }
           .icon{
            width: 40px;
            height: 40px;
            margin: 10px 0 0px 0;
        }
        .header-input{
            width: 200px;
            margin-top: 20px;
            padding: 7px;
        }
        .sub h2{
            font-weight: 500;
        }
        .sub p{
            font-size: 8px;
        }
        .footer-sides h3{
            font-weight: 450px;
 }
 .footer-sides p{
     font-size: 10px;
 }
 .footer-sides2 h3{
     font-size: 450;
 }
 }