p {
    text-align: center; 
    font-family:'Segoe UI', 'Open Sans',
}
.label {
    border: 1px inset #0076ff;
    border-radius: 5px;
    background: #0076ff;
    color: #fff;
    padding-left: 50px;
    padding-right: 4px;
    margin-right: 3px;
    margin-left: 40px;
}
.btns_container {
    margin-left: 100px;
    margin-top: 20px;
}
button{
    margin-left: 170px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 70px;
    background: goldenrod;
    margin-top: 40px;
}