body{
    margin: 0;
}
.select-container{
    width: 100%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}
.language{
    display: flex;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.navbar a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(224, 96, 117);
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
    color: red;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.daily{
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0;
}
.navbar-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-input{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
.side-container{
    display: block;
    width: 300px;
}
.category{
    width: 300px;
}
.top2{
    color: red;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
}
.category p{
    font-size: 16px;
    text-transform: capitalize;

}
.tags a{
    text-decoration: none;
    display: block;
    border: 1px solid black;
    padding: 5px;
    width: 80px;
    color: black;
    margin: 8px;
    float: left;
    text-align: center;
    font-size: 15px;
    }
    .side3{
        clear: left;
    }
    .recent img{
        float: left;
        margin: 10px;
        width: 120px;
        height: 100px;
    }
    .recently-view{
        margin: 10px;
        clear: left;
        
    }
    .recent{
        margin: 20px;
    }
    .recent p{
        margin-top: 20px;
    }


    .image{
        width: 210px;
        text-align: center;
        position: relative;
    }
    .image img{
        width: 200px;
        height: 200px;
        object-fit: fill;
    }
    .btn{
        width: 80px;
        padding: 6px;
        background-color:blue;
        position: absolute;
        top: 30px;
        left: 10px;
        border: none;
    }
    button{
        color: white;
    }
    .box1{
        float: left;
        width: 250px;
        height: 250px;
        clear: right;
    }
    .box1 p{
        margin: 5px;
        text-align: center;
        background-color: gray;
        width: 70px;
        margin-left: 70px;
    }
    .box2{
        float: left;
        width: 250px;
        height: 250px;
        clear: right;
    }
    .box2 p{
        margin: 5px;
        text-align: center;
        background-color: gray;
        width: 70px;
        margin-left: 70px;
    }
    .box3{
        clear: right;
        float: left;
        width: 250px;
        height: 250px;
    }
    .box3 p{
        margin: 5px;
        text-align: center;
        background-color: gray;
        width: 70px;
        margin-left: 70px;
    }

    .side-container{
        float: left;
        margin: 20px 20px 20px 50px;
    }
    .side2g{
        margin: 50px 20px;
    }
    .topg{
        width: 70%;
        background-color: gray;
    }
    .div3p{
        clear: left;
        width: 100%;
        background-color: white;
        margin: 80px 20px;

    }
    .sub{
        margin: 30px 0;
        text-align: center;
    }
    .sub h2{
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sub p{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .footer{
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        justify-content: space-around;
    }
    .footer-side1{
        margin: 40px;
    }
    .footer-side1 h3{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-transform: capitalize;
    }
    .footer-side1 p{
        text-transform: capitalize;

    }
    .footer-side2 p{
        font-size: 10px;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;

    }
    .footer-sides2 h3{
        font-size: 600;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer-sides2{
        margin: 40px;
    }
    .last{
        width: 100%;
        border: 1px solid white;
        background-color: black;
    }

    @media(max-width:768px){
        .navbar a{
            font-size: 7px;
        } 
        .navs{
         padding: 6px;
        }
        select{
         width: 50px;
         font-size: 7px;
        }
        .daily h2{
            font-weight: 500px;
           }
           .daily p{
            width: 120px;
           }
           .daily{
            margin: 15px 10px;
           }
           .icon{
            width: 40px;
            height: 40px;
            margin: 10px 0 0px 0;
        }
        .header-input{
            width: 200px;
            margin-top: 20px;
            padding: 7px;
        }
        .sub h2{
            font-weight: 500;
        }
        .sub p{
            font-size: 8px;
        }
        .footer-sides h3{
            font-weight: 450px;
        }
        .footer-sides p{
            font-size: 10px;
        }
        .footer-sides2 h3{
            font-size: 450;
        }
        }

        @media(max-width:400px){
            .header-input{
                width: 130px;
                margin-top: 15px;
                padding: 5px;
            }
            .icon{
                width: 30px;
                height: 30px;
                margin: 10px 0 0px 0;
            }            
            .navbar-input{
                display: flex;
                width: 100%;
                box-sizing: border-box;
            }     
                                       
            .daily{
                margin: 10px;
                display: flex;
                flex-wrap: nowrap;
                box-sizing: border-box;
            }                    
            .cart{
                margin: 5px;
            }  
            .cart p{
                font-size: 10px;
                color: grey;
            }                     
            .navs{
                padding: 4px;
               }
               select{
                width: 40px;
                font-size: 5px;
            }   
         .daily h2{
             font-weight: 300px;
            }
            .daily p{
             width: 90px;
             font-size: 7px;
            }
            .daily{
                margin: 10px 10px;
               }
            }
