body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.div1{
    width: 90%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.div2{
    display: flex;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.div3 a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(224, 96, 117);
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}
.sect3 a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
    color: red;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.daily{
    margin: 30px 50px;
    display: flex;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0;
}
.input{
    display: flex;
    justify-content: space-around;
}
.inp1{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
h1{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 90%;
    border: 1px solid rgb(211, 202, 202);
    border-radius: 5px;
    padding: 7px;
}
select{
    margin-left: 120px;
    border-radius: 5px;
}
.btns_container{
    margin-top: 20px;
}
button{
background-color: rgb(233, 12, 12);
width: 80px;
border-radius: 10px;
padding: 7px;
border: none;
margin-left: 200px;
color: white;
}
form{
    width: 400px;
    margin: 30px auto;
    background: rgb(248, 248, 248);
    padding: 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px ;
}

@media(max-width:768px){
    .navbar a{
        font-size: 7px;
    } 
    .navs{
     padding: 6px;
    }
    select{
     width: 50px;
     font-size: 7px;
    }
    .daily h2{
        font-weight: 500px;
       }
       .daily p{
        width: 120px;
       }
       .daily{
        margin: 15px 10px;
       }
       .icon{
        width: 40px;
        height: 40px;
        margin: 10px 0 0px 0;
    }
    .header-input{
        width: 200px;
        margin-top: 20px;
        padding: 7px;
    }
    .sub h2{
        font-weight: 500;
    }
    .sub p{
        font-size: 8px;
    }
    .footer-sides h3{
        font-weight: 450px;
    }
    .footer-sides p{
        font-size: 10px;
    }
    .footer-sides2 h3{
        font-size: 450;
    }
}

@media(max-width:400px){
    .header-input{
        width: 130px;
        margin-top: 15px;
        padding: 5px;
    }
    .icon{
        width: 30px;
        height: 30px;
        margin: 10px 0 0px 0;
    }            
    .navbar-input{
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }     
                               
    .daily{
        margin: 10px;
        display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }                    
    .cart{
        margin: 5px;
    }  
    .cart p{
        font-size: 10px;
        color: grey;
    }                     
    .navs{
        padding: 4px;
       }
       select{
        width: 40px;
        font-size: 5px;
    }   
 .daily h2{
     font-weight: 300px;
    }
    .daily p{
     width: 90px;
     font-size: 7px;
    }
    .daily{
        margin: 10px 10px;
       }
    }