body{
    background-color: rgb(247, 231, 244);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a:hover{
    background-color: green;
}
a:active{
    background-color: pink;
}
.head{
    width: 100%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.select-container{
    display: flex;
    box-sizing: border-box;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.navbar a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(41, 9, 41);
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    z-index: 1px;
    position: sticky;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
    color: red;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.daily{
    margin: 30px 50px;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0;
}
.navbar-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-input{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
.welcome{
    width: 100%;
    background-image: url("../two-enthusiastic-ladies-sharing-secrets-covering-faces-hands-drink-cocktails-cafe-outdoor-portrait-two-171668518.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-content{
    text-align: center;
    background-color: rgb(10, 5, 5, 0.4);
    width: 400px;
    position: relative;
    top: 40px;
    left: 550px;
    padding: 5px;
    border-radius: 7px;
}
.welcome-content h3{
    font-weight: 600;
    font-size: 35px; 
}
.welcome-content h2{
    background-color: rgb(247, 231, 244, 0.5);
    width: 300px;
    padding: 10px;
    margin: 0 40px;
    top: 20px;
    left: 700px;
    font-size: 30px;
    color: rgb(129, 14, 77);
    text-transform: capitalize;
}
.welcome-content p :hover{
    transform: scale(0.5);
    background-color: white;
}

.shoes-cont{
    width: 100%;

}
.lines{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 20px;
    text-align: center;
    background-color: rgb(247, 231, 244);

}
.shoes{
    width: 22%;
    height: 200px;
    margin: 10px;
    position: relative;
}
.shoes img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    position: relative;
    border-radius: 10px;
}
.shoes p{
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 130px;
}
.p2{
    color: red;
}
.btnb{
    position: absolute;
    border: none;
    width: 100px;
    background-color: rgb(41, 9, 41);
    padding: 5px;
    bottom : 20px;
    left: 65px;
    color: white;
}
.p2{
    color: rgb(253, 7, 7);
    text-align: center;
    font-size: 12px;
    margin: 0 0 20px 0;

}

.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer-side1{
    margin: 40px;
}
.footer-side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.footer-side1 p{
    text-transform: capitalize;

}
.footer-side2 p{
    margin: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-side2 h3{
    font-size: 600;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-side2{
    margin: 40px;
}

.last{
    width: 100%;
    border: 1px solid white;
    background-color: black;
}
.footer-icon{
    display: flex;
    margin: 5px 0px;

}
.footer-icon svg{
    width: 17px;
    height: 17px;
    margin: 7px 0px;
}
@media(max-width:768px){
    .navbar a{
        font-size: 7px;
    } 
    .navs{
     padding: 6px;
    }
    select{
        width: 50px;
        font-size: 7px;
       }   
       .header-navbar a{
        text-decoration: none;
        color: white;
        margin: 0 20px;
        font-size: 10px;
    }                                 

        .welcome-content{
           width: 300px;
           position: relative;
           top: 20px;
           left: 200px;
       }
       .welcome-content h3{
           font-weight: 400;
           font-size: 25px; 
           color: white;
           margin: 10px;
       }
       .welcome-content h2{
           background-color: rgb(233, 169, 147, 0.5);
           width: 180px;
           top: 5px;
           font-weight: 500px;
           font-size: 20px;
           color: rgb(129, 14, 77);
           text-transform: capitalize;
        }                
        .welcome-content p{
            font-size: 12px;
            margin: 10;
            color: white;
        }    
        .welcome{
            box-sizing: border-box;
            width: 100%;
            background-image: url("../two-enthusiastic-ladies-sharing-secrets-covering-faces-hands-drink-cocktails-cafe-outdoor-portrait-two-171668518.jpg");
            height: 180px;
            background-size: cover;
            justify-content: center;
        }                
        .daily h2{
            font-weight: 500px;
           }
           .daily p{
            width: 120px;
           }
           .daily{
            margin: 15px 10px;
           }
           .icon{
            width: 40px;
            height: 40px;
            margin: 10px 0 0px 0;
        }
        .header-input{
            width: 200px;
            margin-top: 20px;
            padding: 7px;
        }
        .lines{
            width: 100%;
            display: flex;
            justify-content: center;
            margin:  10px;
            text-align: center;
            background-color: rgb(247, 231, 244);
        
        }
    
        .shoes{
            width: 30%;
            height: 150px;
            margin: 20px 10px;
            position: relative;
        }
        .shoes img{
            width: 140px;
            height: 140px;
            object-fit: fill;
            position: relative;
            border-radius: 10px;
        }
        .shoes p{
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: 90px;
        }
        .btnb{
            position: absolute;
            border: none;
            width: 60px;
            background-color: rgb(41, 9, 41);
            padding: 5px;
            bottom : 110px;
            left: 45px;
            color: white;
            font-size: 10px;
        }
    
        .footer{
            display: flex;
            justify-content: center;
        }
        .footer-side1{
            margin: 30px;
        }
        .footer-side1 h3{
            font-weight: 400;
        }
        .footer-side2 h3{
            font-weight: 400;
        }
        .footer-side2{
            margin: 30px;
        }
        .last{
            width: 100%;
            border: 1px solid white;
            background-color: black;
        }



}   

@media(max-width:400px){
    .header-input{
        width: 130px;
        margin-top: 15px;
        padding: 5px;
    }
    .icon{
        width: 30px;
        height: 30px;
        margin: 10px 0 0px 0;
    }            
    .navbar-input{
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }     
    .header-navbar a{
        text-decoration: none;
        color: white;
        margin: 0 20px;
        font-size: 10px;
    }                                 
    .daily{
        margin: 10px;
        display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }                    
    .cart{
        margin: 5px;
    }  
    .cart p{
        font-size: 10px;
        color: grey;
    }                     
    .navs{
        padding: 4px;
       }
       select{
        justify-content: center;
        width: 40px;
        font-size: 5px;
    }   
    .daily h2{
        font-weight: 300px;
       }
       .daily p{
        width: 90px;
        font-size: 7px;
       }   
        .welcome-content{
        width: 230px;
        top: 35px;
        left: 80px;
        border-radius: 7px;
        box-sizing: border-box;
        justify-content: center;
    }
    .welcome-content h3{
        font-weight: 400;
        font-size: 17px; 
        margin: 5px;
    }
    .welcome-content h2{
        background-color: rgb(233, 169, 147, 0.4);
        top: 20px;
        left: 10px;
        font-size: 17px;
        margin: 0px;
    }
    .welcome-content p{
        font-size: 12px;
        margin: 0;
        color: white;
    }
    .welcome{
        height: 160px;
        background-size: cover;
        justify-content: center;
    }                
       .daily{
        margin: 10px;
       }
       .lines{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 10px;
        text-align: center;
        background-color: rgb(247, 231, 244);
    
    }
    
       .shoes{
        width: 40%;
        height: 170px;
        margin: 10px;
        position: relative;
    }
    .shoes img{
        width: 140px;
        height: 140px;
        object-fit: fill;
        position: relative;
        border-radius: 10px;
    }
    .shoes p{
        text-align: center;
        font-size: 12px;
        position: absolute;
        left: 50px;
    }
    .btnb{
        position: absolute;
        border: none;
        width: 80px;
        background-color: rgb(41, 9, 41);
        padding: 5px;
        bottom : 140px;
        left: 15px;
        color: white;
        font-size: 10px;
    }
    

       .footer{
        display: flex;
        justify-content: center;
    }
    .footer-side1{
        margin: 30px;
    }
    .footer-side1 h3{
        font-weight: 200;
    }
    .footer-side2 h3{
        font-weight: 200;
    }
                                
    .footer-side2{
        margin: 30px;
    }
    .last{
        width: 100%;
        border: 1px solid white;
        background-color: black;
    }


}

