body{
    margin: 0;
    background-color: rgb(250, 200, 200);
}

.select-container{
    width: 100%;
    border: 1px solid rgb(185, 178, 178);
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.header{
    position: fixed;
    top: 0;
    background-color: rgb(243, 151, 151);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.language{
    display: flex;
}
.divp{
    border: 1px rgb(112, 20, 20);
    width: 150px;
    height: 30px;
    margin-top: 0;
}
.navbar a {
    text-decoration: none;
    color: black;
    border:  1px solid rgb(170, 158, 158);
    margin: 0;
    font-size: 10px;
    display: inline block;
    font-family: Arial, Helvetica, sans-serif;    
}
.navs{
    background-color: rgb(224, 96, 117);
    color: white;
    padding: 10px;
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
}
.header-navbar a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
select{
    width: 70px;
    height: 20px;
    font-size: 10px;
    border: 1px solid rgb(170, 158, 158);
}
.daily span{
color: red;
}
.blog{
text-align: center;
background-image: url("../images/trinh-minh-th-twN2viFvWd0-unsplash.jpg");
width:100%;
height: 300px;
position: relative;
background-size: cover;
}
    .blog2{
        margin: 40px 0 40px 0;
        position: absolute;
        top: 60px;
        left: 660px;
    }     
    
.blog2 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.blog2 h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}
.blog2 a{
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.daily h2{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 1px;
}
.daily P{
    text-transform: uppercase;
    color: grey;
    width: 150px;
    font-size: 10px;
    margin-top: 1px;
}
.cart p{
    font-size: 14px;
    color: grey;
}                     
.cart{
    margin: 10px 5px 0 40px;
    align-items: flex-end;
}
.daily{
    margin: 30px 50px;
    display: flex;
    flex-wrap: nowrap;
}
.icon{
    color: rgb(255, 0, 0);
    width: 60px;
    height: 60px;
    margin: 10px 0 0px 0px;
}
.navbar-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-input{
    width: 400px;
    margin-top: 40px;
    padding: 7px;
}
.cart p{
    margin-top: 0px;
}
.images-container{
    width: 100%;
    background-color: rgb(250, 200, 200);
}
.inner-container{
    width: 70%;
    padding: 10px;
    margin: 5px;
    background-color: rgb(250, 200, 200);
}
img{
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-bottom: 0;
}
.top{
    color: rgb(185, 180, 176);
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px;
    margin-left: 10px;
}
.img-containera{
    float: left;
}
.img-containerb{
    float: left;
}
.img-containerc{
    float: left;
}
.category{
    width: 26%;
}
.sidecont{
    width: 26%;
    margin: 20px 20px;
    background-color: rgb(250, 200, 200);

}
.top-paragraph{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}
.category p{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}
.tags a{
    text-decoration: none;
    border: 1px solid rgb(133, 125, 125);
    color: black;
    margin: 10px;
    padding: 3px;
    display: inline-block;
}
.images-container{
    display: flex;
    padding: 10px 40px;
}
.side-a {
    display: flex;
    width: 26%;
    height: 130px;
    box-sizing: border-box;
}
.side-a img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 10px;
}
.side-a a{
    text-decoration: none;
    color: black;
    margin-top: 30px;

}
.recent-post{
    display: block;
}
.div3p{
    width: 100%;
    background-color: white;
    text-align: center;

}
.sub{
   text-align: center;
   display: inline-block;
   margin: 20px;
}
.sub input{
    width: 400px;
    padding: 7px;
    margin: 10px;

}

.sub h3{
    margin: 10px 0 0 5px;
    font-weight: 600px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.sub p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 0px 10px 50px;
}
.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}
.footer-side1{
    margin: 30px;
    width: 20%;
}
.footer-side1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.footer-side1 p{
    text-transform: capitalize;

}
.footer-side2 p{
    font-size: 12px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;

}
.footer-side2 h3{
    font-size: 600;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-side2{
    margin: 40px;
    width: 20%;
}
.last{
    width: 100%;
    border: 1px solid white;
    background-color: black;
}

@media(max-width:768px){
    .navbar a{
     font-size: 7px;
    } 
    .navs{
     padding: 6px;
    }
    select{
     width: 50px;
     font-size: 7px;
    }
    .blog{
     height: 200px;
     width: 100%;
     position: relative;
     justify-content: center;
    }
    .blog2{
     text-align: center;
     position: absolute;
     top: 20px;
     left: 280px;
    }
    .blog2 h2{
     font-size: 20px;
     font-weight: 500px;
    }
    .blog2 p{
     font-size: 10px;
    }
    .daily h2{
     font-weight: 500px;
    }
    .daily p{
     width: 120px;
    }
    .daily{
     margin: 15px 10px;
    }
    .icon{
     width: 40px;
     height: 40px;
     margin: 10px 0 0px 0;
 }
 .navbar-input{
    justify-content: center;
}
 .header-input{
     width: 200px;
     margin: 27px 80px 0 80px;
     padding: 5px;
 }
 img{
     width: 180px;
     height: 160px;
 }
 .top{
     width: 180px;
     font-size: 14px;
 }
 p{
     font-size: 9px;
     width: 170px;
 }
 .tags a{
    margin: 4px;
    padding: 1px;
    display: inline-block;
}
 .side-a img{
     width: 100px;
     height: 100px;
     object-fit: contain;
     margin: 7px;
 }
 .sub h3{
     font-weight: 450;
 }
 .sub input{
    width: 300px;
    padding: 7px;

}
 .sub p{
    width: 250px;
    font-size: 12px;
    margin: 0px 0px 10px 60px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
}

 .footer-side1 h3{
     font-weight: 450px;
 }
 .footer-side1 p{
     font-size: 10px;
 }
 .footer-sides2 h3{
     font-size: 450;
 }
 }

 @media(max-width:400px){
    .header-input{
        width: 130px;
        margin: 15px;
        padding: 5px;
    }
       .icon{
        width: 30px;
        height: 30px;
        margin: 10px 0 0px 0;
    }            

    .navbar-input{
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }     
                               
    .daily{
        margin: 10px ;
        display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }                    

    .cart{
        margin: 5px;
    }  
    .cart p{
        font-size: 10px;
        color: grey;
    }                     
    .navs{
        padding: 4px;
       }
       .header-navbar a{
        text-decoration: none;
        color: white;
        margin: 0 20px;
        font-size: 10px;
    }
    
       select{
        width: 40px;
        font-size: 5px;
    }   
 .daily h2{
     font-weight: 300px;
    }
    .daily p{
        width: 90px;
        font-size: 7px;
       }
       .daily{
           margin: 10px;
          }
          .blog{
            height: 170px;
            margin-top: 150px;
            position: relative;
            justify-content: center;
            }
            .blog2{
                margin: 40px 0 10px 0;
                position: absolute;
                top: 10px;
                left: 120px;
            }
            .blog2 p{
                font-size: 15px;
            }
        

          img{
            width: 140px;
            height: 160px;
        }
        .top{
            width: 160px;
            font-size: 12px;
        }
        p{      
            font-size: 9px;
            width: 150px;
        }
        .tags a{
           margin: 4px;
           padding: 1px;
           display: inline-block;
       }
       .images-container{
        padding: 10px 40px;
    }
    .inner-container{
        width: 70%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        background-color: rgb(250, 200, 200);
    }
    .img-containera{
        width: 32%;
    }
    .img-containerb{
        width: 32%;
    }
    .img-containerc{
        width: 32%;

    }
    
        
        .side-a img{
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin: 7px;
        }
        .sub input{
            width: 200px;
            padding: 5px;
            margin: 10px;
        
        }
                
        .sub h3{
            font-weight: 200;
            font-size: 16;
            width: 450px;
        }
        
        .sub p{
            font-size: 10px;
            margin: 0px 0px 10px 60px;
        }
        
        .footer-side1 p{
            font-size: 10px;
        }
        .footer-side2 h3{
        font-weight: 350px;   
     }
     .footer-side1 h3{
        font-weight: 350px;   
             }        
        .footer{
            display: flex;
            flex-wrap: wrap;
        }        
       
        }

https://halima-1.github.io/oic-project1/
