@media(max-width=768px){
   .div3 a{
    font-size: 7px;
   } 
   .navs{
    padding: 6px;
   }
   select{
    width: 50px;
    font-size: 7px;
   }
   .blog{
    height: 200px;
   }
   .blog2{
    margin: 20px 0 20px 0;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 250px;
   }
   .blog2 h2{
    font-size: 20px;
    font-weight: 500px;
   }
   .blog2 p{
    font-size: 10px;
   }
   .daily h2{
    font-weight: 500px;
   }
   .daily p{
    width: 120px;
   }
   .daily{
    margin: 15px 10px;
   }
   .icon{
    width: 40px;
    height: 40px;
    margin: 10px 0 0px 0;
}
.header-input{
    width: 200px;
    margin-top: 20px;
    padding: 7px;
}
img{
    width: 200px;
    height: 150px;
}
.top{
    width: 200px;
    font-size: 16px;
}
p{
    font-size: 9px;
    width: 200px;
}
.side-a img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 7px;
}
.sub h2{
    font-weight: 500;
}
.sub p{
    font-size: 8px;
}
.footer-sides h3{
    font-weight: 450px;
}
.footer-sides p{
    font-size: 10px;
}
.footer-sides2 h3{
    font-size: 450;
}
}